<% layout("/layouts/boilerplate") %>
    <style>
        /* index page */
        #filters {
            display: flex;
            align-items: center;
        }

        .filter {
            margin-top: 2rem;
            margin-right: 2rem;
            text-align: center;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }


        /* Media query for smaller screens */
        @media screen and (max-width: 1024px) {
            #filters {
                overflow: hidden;
                flex-wrap: wrap;
            }

            .filter {
                margin: 1rem 0.5rem;
            }

            .filter p {
                font-size: 0.7rem;
            }
        }

        .tax-info {
            display: none;
        }

        .tax-toggle {
            margin-left: 1.5rem;
            border: 1px solid black;
            height: 2rem;
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            align-items: center;


        }
    </style>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tent"></i></div>
            <p>Camping</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
            </div>
        </div>
    </div>
    <!-- <h3>All Listings</h3> -->
    <!-- <form action="/listings/new" method="get"><button>new</button></form> -->
    <div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for (let list of allListing) { %>
            <a href="/listings/<%= list.id %>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="listing-image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= list.title %>
                            </b>
                            <br> Pkr: &nbsp;<%=list.price.toLocaleString("en-In")%> / night
                                <i class="tax-info">&nbsp;&nbsp;+18% Gst</i>
                        </p>

                    </div>
                </div>
            </a>
            <% } %>


    </div>
    <script>
        let taxToggle = document.getElementById("flexSwitchCheckDefault");

        taxToggle.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (let info of taxInfo) {
                if (info.style.display !== "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }
        });

        let filters = document.getElementsByClassName("filter");

        for (let fil of filters) {
            fil.addEventListener("click", async () => {
                let filterValue = fil.innerText;
                console.log(filterValue);


                // Construct the path based on your requirements
                let path = `/listingsquery?category=${filterValue}`;

                // Navigate to the new path
                window.location.href = path;

            })

        }
    </script>