<% layout("/layouts/boilerplate") %>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
  <div class="row  mt-3">
    <div class="col-8 offset-2">
      <h3>Create new Listing</h3>
      <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="Add a catchy Title" class="form-control" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please enter a catchy Title!
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="Description" class="form-control" required></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please enter a short description
          </div>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <!-- <select name="listing[category]" id="listing[category]" class="form-select form-control " aria-label="Default select example"
            required multiple> -->
          <select name="listing[category]" id="listing[category]" multiple>
         
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic Cities">Iconic Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Amazing Pools">Amazing Pools</option>
            <option value="Arctic">Arctic</option>
            <option value="Farms">Farms</option>
            <option value="Camping">Camping</option>
          </select>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please select at least one category
          </div>
        </div>



        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input type="file" name="listing[image]" placeholder="Image URL" class="form-control" required>

        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="Pkr: 3000" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Price should be valid
            </div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="Pakistan" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Country should be valid
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" placeholder="Thali Chowk,Rahim Yar Khan" class="form-control"
            required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Location should be valid
          </div>
        </div>
        <button class="btn btn-dark add-btn mt-3" type="submit" required>Add new listing</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>   

  <script>
    new MultiSelectTag('listing[category]')  // id
  </script>